div.container-fluid p {
  line-height: 0.7em;
}
input.form-control {
  display: block;
  margin:10px auto 0;
}
button.btn {
  display: block;
  margin: 0 auto;
}
p.result {
  margin-top: 20px;
  font-size: 2em;
}
